# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Local development and environment settings
*.env
*.local
*.settings

# macOS specific files
.DS_Store

# Thumbnails
.Thumbnails/

# pytest
.cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre type checker
.pyre/

# pyright type checker
.pyright/

# Cython debug symbols
cython_debug/

# Flask/Django local files
instance/
.venv/
.env/
.venv/
local_settings.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject
